body {
    background-color: rgb(252, 247, 237);
    font-family: Arial;
}

h1 {
    text-align: center;
}

#name {
    text-align: center;
    font-size: 20px;
}

h2 {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 1.5;
}

dl {
    border: 2px solid;
    height: 150px;
    margin: 10px;
    padding: 20px;
}

.right {
    color: green;
}

.wrong {
    color: red;
}